<h3>What is Nexus?</h3>

Traditionally speaking, Nexus is very much like a wiki system but hides the ugly details from the user. It uses a very clean WYSIWYG editor and/or a markdown editor. The pages are then stored in a Git repository backed database, so you'll have every version of the page and is a snap to backup.

<h3>How to Use</h3>
How to Use
<ol>
  <li>Sign up! (Link on the top right corner)</li>
  <li>Create your own url and establish your stomping grounds! Example URL: /pages/MyPage</li>
</ol>
