<script type="text/javascript">
$(function() {
 // Handler for .ready() called.
 jQuery('#source').val(<%= raw(@page.markdown.to_json) %>);

 // Forcing Hallo to update HTML after loading the markdown
 var e = jQuery.Event('keyup');
 jQuery('#source').trigger(e);

  jQuery('#source').hide();
  jQuery('#content').hallo({editable: false});

 jQuery('#edit').click(function() {
  jQuery('#source').show();
  jQuery('#content').hallo({editable: true});
 });
});
</script>
<ul class="breadcrumb">
  <li><a href="/pages">Home</a>
  <% @url_path_components.each do |pc| %>
  <span class="divider">/</span></li>
  <li><a href="#"><%= pc %></a>
  <% end %>
  </li>
</ul>
<% if @page %>
  <% if user_signed_in? %>
  <div>
   <a id="edit" href="#" class="btn btn-primary">Edit</a>
   <a id="save" href="#" class="btn btn-primary">Save</a>
   <a id="cancel" href="#" class="btn">Cancel</a>
  </div>
  <%end%>
<% end %>
<textarea id="source">
</textarea>
<div id="content" class="editable">
</div>
<% else %>
  <% if user_signed_in? %>
    <a href="#" class="btn btn-primary">Create</a>
  <% end %>
<% end %>
