<script type="text/javascript">
$(function() {
 // Handler for .ready() called.
 jQuery('#source').val('<%= @page.markdown %>');

 // Forcing Hallo to update HTML after loading the markdown
 var e = jQuery.Event('keyup');
 jQuery('#source').trigger(e);
});
</script>

<% if @page %>
<div>
  <a href="#" class="btn btn-primary">Edit</a>
</div>
<textarea id="source">
</textarea>
<div class="editable">
</div>
<% else %>
<a href="#">Create</a>
<% end %>
