<script type="text/javascript">
$(function() {
 // Handler for .ready() called.
 $('#source').val('#HELLO');

  // Forcing Hallo to update HTML after loading the markdown
  var e = $.Event('keyup');
  $('#source').trigger(e);

  $('#source').hide();
  $('#content').hallo({editable: false});

 $('#edit').click(function() {
  $('#source').show();
  $('#content').hallo({editable: true});
 });
});
</script>

<% if @page %>
<% if user_signed_in? %>
<div>
  <a id="edit" href="#" class="btn btn-primary">Edit</a>
  <a id="save" href="#" class="btn btn-primary">Save</a>
  <a id="cancel" href="#" class="btn">Cancel</a>
</div>
<%end%>
<textarea id="source">
</textarea>
<div id="content" class="editable">
</div>
<% else %>
<a href="#" class="btn btn-primary">Create</a>
<% end %>
