<ul class="breadcrumb">
  <li><a href="/pages">Home</a>
  <% @url_path_components.each do |pc| %>
  <span class="divider">/</span></li>
  <li><a href="#"><%= pc %></a>
  <% end %>
  </li>
</ul>
<% if @page %>
<script type="text/javascript" src="/assets/editor.js"></script>
<script type="text/javascript">
$(function() {
  // Handler for .ready() called.
  $('#source').val(<%= raw(@page.markdown.to_json) %>);

  // Forcing Hallo to update HTML after loading the markdown
  var e = $.Event('keyup');
  $('#source').trigger(e);

  endEditing();

 $('#edit').click(function() {
  $('#source').show();
  $('#content').hallo({editable: true});
  $('#edit').hide();
  $('#save').show();
  $('#cancel').show();
 });

 $('#save').click(endEditing);

 $('#cancel').click(endEditing);
});

function endEditing() {
  $('#edit').show();
  $('#save').hide();
  $('#cancel').hide();
  $('#source').hide();
  $('#content').hallo({editable: false});
}
</script>
<% if user_signed_in? %>
<div>
  <a id="edit" href="#" class="btn btn-primary">Edit</a>
  <a id="save" href="#" class="btn btn-primary">Save</a>
  <a id="cancel" href="#" class="btn">Cancel</a>
</div>
<%end%>
<textarea id="source">
</textarea>
<div id="content" class="editable">
</div>
<% else %>
<script type="text/javascript">
$(function () {
  $('#create').click(function() {

  });
});
</script>
<a id="create" href="#" class="btn btn-primary">Create</a>
<% end %>
