body {
	background-image: url('/assets/dust.png');
}

textarea#source {
	width: 100%;
	min-height: 400px;
	color: #ffffff !important;
	background-color: #2e3436;
	border: none;
	border-radius: 8px;
	font-weight: bold;
}